html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#search_box{
    display: flex
}

#submit_button,#city_name{
    display: flex; 
    flex-direction: column;
}

#container{ 
  display: flex;
  height: 100%;
  width: 100%;
}

#left-side{ 
  width: 50%;
  display: flex;
  flex-direction: column;
}

#right-side{ 
  width: 50%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

.hidden {
  display: none;
}
